*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.continer{
    font-family: "inter" , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card{
    padding: 20px;
    width: 600px;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 8px;
    letter-spacing: -0.5px;
}

.subtitle {
    font-size: 1.1rem; 
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}

.greeting{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.form label{
    display: block;
    font-size: 18px;
}

.form input{
    width: 100%;
    padding: 12px 16px;
    font-size: 1rem;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.login-btn, .signup-btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.btn-in, .btn-back, .btn-sin{
    padding: 5px;
    font-size: 20px;
    width: 95px;
    justify-content: center;

} 

.new{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.divider{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.divider::before, .divider::after{
    content: "";
    flex: 1;
    height: 1px;
    background: #ddd;
}

.divider span{
    padding: 0 15px;
    font-size: 14px;
}

.btn-sin{
    display: flex;
    justify-content: center;
    width: 150px;
    margin-top: 10px;
}
